div.block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
div.block div.blockContent {
  border: 1px solid grey;
  height: 240px;
  width: 340px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  margin: 0 20px;
  cursor: pointer;
}
div.block div.blockContent-activeBlock {
  height: 240px;
  width: 340px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  margin: 0 14px -2px 14px;
  border: 7px solid blue;
}
div.block div.blockContent-activeBlock img {
  margin-bottom: 2px;
}
div.block div.blockContent-activeBlock div.blockText {
  height: 70px;
  text-align: center;
  color: grey;
  margin-top: 8px;
}
div.block div.blockContent-activeBlock div.blockText p.fText {
  font-size: 30px;
}
div.block div.blockContent-activeBlock div.blockText p.sText {
  font-size: 18px;
}
div.block div.blockContent div.blockText {
  height: 70px;
  text-align: center;
  color: grey;
}
div.block div.blockContent div.blockText p.fText {
  font-size: 30px;
}
div.block div.blockContent div.blockText p.sText {
  font-size: 18px;
}
div.block input[type=range] {
  width: 371px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  height: 4em;
  background-color: transparent;
  cursor: pointer;
  padding-top: 25px;
  -webkit-appearance: none;
}
div.block input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
div.block input[type=range]:focus {
  outline: none;
}
div.block input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
div.block input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  margin-top: 0.5em;
  background-color: white;
  border-radius: 1em;
  border: 1px solid grey;
  cursor: pointer;
}
div.block input[type=range]::-moz-range-thumb {
  width: 1em;
  height: 1em;
  margin-top: 0.5em;
  background-color: white;
  border-radius: 1em;
  border: 1px solid grey;
  cursor: pointer;
}
div.block input[type=range]::-ms-thumb {
  width: 1em;
  height: 1em;
  margin-top: 0.5em;
  background-color: white;
  border-radius: 1em;
  border: 1px solid grey;
  cursor: pointer;
}
div.block input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid grey;
  background-color: transparent;
}
div.block input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid grey;
  background-color: transparent;
}
div.block input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}
div.block div.rangeLabels {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 371px;
  color: grey;
  font-size: 18px;
  padding-top: 15px;
}
@media screen and (max-width: 1150px) {
  div.block div.blockContent {
    width: 300px;
  }
  div.block input[type=range] {
    width: 300px;
  }
  div.block div.rangeLabels {
    width: 300px;
  }
  div.block div.blockContent-activeBlock {
    width: 300px;
  }
}
@media screen and (max-width: 1100px) {
  div.block div.blockContent {
    width: 290px;
  }
  div.block input[type=range] {
    width: 290px;
  }
  div.block div.rangeLabels {
    width: 290px;
  }
  div.block div.blockContent-activeBlock {
    width: 290px;
  }
}
@media screen and (max-width: 1000px) {
  div.block div.blockContent {
    width: 260px;
  }
  div.block input[type=range] {
    width: 260px;
  }
  div.block div.rangeLabels {
    width: 260px;
  }
  div.block div.blockContent-activeBlock {
    width: 260px;
  }
}
@media screen and (max-width: 900px) {
  div.block div.blockContent {
    width: 230px;
    height: 230px;
  }
  div.block input[type=range] {
    width: 230px;
  }
  div.block div.rangeLabels {
    width: 230px;
  }
  div.block div.blockContent-activeBlock {
    width: 230px;
    height: 230px;
  }
}
@media screen and (max-width: 800px) {
  header.priceStyle div.content div.wrapper div.block div.blockContent {
    height: 190px;
    width: 200px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent-activeBlock {
    width: 200px;
    height: 190px;
  }
  header.priceStyle div.content div.wrapper div.block input[type=range] {
    width: 200px;
    padding-top: 0px;
  }
  header.priceStyle div.content div.wrapper div.block div.rangeLabels {
    width: 200px;
  }
  header.priceStyle div.content h1 {
    font-size: 50px;
  }
  div.block div.blockContent img.firstImg {
    width: 50%;
  }
  div.block div.blockContent img.secondImg {
    width: 65%;
  }
  div.block div.blockContent img.thirdImg {
    width: 50%;
  }
  div.block div.blockContent-activeBlock img.firstImg {
    width: 50%;
  }
  div.block div.blockContent-activeBlock img.secondImg {
    width: 50%;
  }
  div.block div.blockContent-activeBlock img.thirdImg {
    width: 50%;
  }
  div.block div.blockContent img.fourthImg {
    width: 50%;
  }
  div.block div.blockContent img.fifthImg {
    width: 45%;
  }
  div.block div.blockContent img.sixthImg {
    width: 50%;
  }
  div.block div.blockContent-activeBlock img.fourthImg {
    width: 50%;
  }
  div.block div.blockContent-activeBlock img.fifthImg {
    width: 45%;
  }
  div.block div.blockContent-activeBlock img.sixthImg {
    width: 50%;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent div.blockText p.fText {
    font-size: 25px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent-activeBlock div.blockText p.sText {
    font-size: 18px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent-activeBlock div.blockText p.fText {
    font-size: 25px;
  }
  header.priceStyle div.content div.wrapper div.block div.rangeLabels {
    padding-top: 0px;
  }
}
@media screen and (max-width: 420px) {
  header.priceStyle div.content h1 {
    font-size: 30px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent-activeBlock {
    width: 110px;
    height: 110px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent {
    width: 110px;
    height: 110px;
  }
  header.priceStyle div.content div.wrapper div.block input[type=range] {
    width: 110px;
  }
  header.priceStyle div.content div.wrapper div.block div.rangeLabels {
    width: 110px;
  }
  header.priceStyle div.content div.wrapper div.block div.rangeLabels {
    font-size: 12px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent-activeBlock {
    margin: 0 1px -2px 1px;
    border: 5px solid blue;
    border-radius: 30px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent {
    border-radius: 30px;
    margin: 0 0;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent-activeBlock div.blockText p.fText {
    font-size: 15px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent-activeBlock div.blockText p.sText {
    display: none;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent div.blockText p.sText {
    display: none;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent div.blockText p.fText {
    font-size: 15px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent-activeBlock div.blockText {
    height: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent div.blockText {
    height: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  header.priceStyle div.content div.wrapper div.block {
    margin: 0 2px;
  }
  header.priceStyle p.finalPrice {
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid black;
    background: black;
    padding: 8px;
    border-radius: 50px;
    width: 88%;
    font-size: 50px;
    margin-bottom: 45px;
    letter-spacing: 2px;
  }
  header.priceStyle nav ul li {
    margin: 0 20px;
  }
  header.priceStyle nav ul li a {
    font-size: 15px;
  }
  header.priceStyle nav ul {
    margin-top: 30px;
    margin-right: 5px;
  }
  header.priceStyle a.logoLink img.logo {
    width: 28px ;
    top: 20px;
    left: 30px;
  }
  header.priceStyle div.content div.wrapper {
    margin-top: -5px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent {
    width: 95px;
    height: 95px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent-activeBlock {
    width: 90px;
    height: 90px;
  }
  header.priceStyle div.content div.wrapper div.block input[type=range] {
    width: 90px;
  }
  header.priceStyle div.content div.wrapper div.block div.rangeLabels {
    width: 90px;
  }
  header.priceStyle p.finalPrice {
    padding: 5px;
    font-size: 35px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent div.blockText p.fText {
    font-size: 13px;
  }
  header.priceStyle a.logoLink img.logo {
    width: 23px;
  }
  header.priceStyle nav ul li a {
    font-size: 14px;
  }
  header.priceStyle nav ul li {
    margin: 0 14px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent-activeBlock div.blockText {
    margin-top: 0px;
  }
  div.block div.blockContent-activeBlock img.secondImg {
    width: 55%;
  }
  div.block div.blockContent img.sixthImg {
    width: 46%;
  }
  header.priceStyle div.content div.wrapper div.block div.rangeLabels {
    font-size: 9px;
  }
  header.priceStyle div.content div.wrapper div.block div.blockContent-activeBlock div.blockText p.fText {
    font-size: 13px;
  }
  div.block div.blockContent img.fourthImg {
    width: 60%;
  }
}
