header.indexStyle {
  background: url("../../img/Header.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
header.indexStyle img.logo {
  position: absolute;
  width: 33px;
  top: 41px;
  left: 60px;
}
header.indexStyle nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
header.indexStyle nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 52px;
  margin-right: 65px;
}
header.indexStyle nav ul li {
  justify-content: space-around;
  margin: 0 23px;
}
header.indexStyle nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
header.indexStyle div.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
header.indexStyle div.content h1 {
  color: #fff;
  font-size: 120px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  letter-spacing: 10px;
  margin-top: 45px;
}
header.indexStyle div.content p {
  color: #fff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
header.indexStyle div.content a.contact {
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #33c;
  background: #33c;
  padding: 35px;
  border-radius: 50px;
  width: 610px;
  font-size: 25px;
  margin-bottom: 140px;
}
header.indexStyle div.content img.arrow {
  width: 100px;
  margin-bottom: 200px;
}
header.indexStyle div.content img.arrow:hover {
  cursor: pointer;
}
header.priceStyle {
  background: white;
  width: 100%;
  height: 100vh;
}
header.priceStyle img.logo {
  position: absolute;
  width: 33px;
  top: 41px;
  left: 60px;
}
header.priceStyle nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
header.priceStyle nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 52px;
  margin-right: 65px;
}
header.priceStyle nav ul li {
  justify-content: space-around;
  margin: 0 23px;
}
header.priceStyle nav ul li a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
header.priceStyle div.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
header.priceStyle div.content h1 {
  color: black;
  font-size: 60px;
}
header.priceStyle div.content div.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 65%;
}
header.priceStyle div.content div.wrapper div.block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
header.priceStyle div.content div.wrapper div.block div.blockContent {
  border: 1px solid grey;
  height: 267px;
  width: 371px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  margin: 0 20px;
}
header.priceStyle div.content div.wrapper div.block div.blockContent div.blockText {
  height: 70px;
  text-align: center;
  color: grey;
}
header.priceStyle div.content div.wrapper div.block div.blockContent div.blockText p.fText {
  font-size: 30px;
}
header.priceStyle div.content div.wrapper div.block div.blockContent div.blockText p.sText {
  font-size: 18px;
}
header.priceStyle div.content div.wrapper div.block input[type=range] {
  width: 371px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  height: 2em;
  background-color: transparent;
  cursor: pointer;
  padding-top: 25px;
  -webkit-appearance: none;
}
header.priceStyle div.content div.wrapper div.block input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
header.priceStyle div.content div.wrapper div.block input[type=range]:focus {
  outline: none;
}
header.priceStyle div.content div.wrapper div.block input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
header.priceStyle div.content div.wrapper div.block input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  margin-top: 0.5em;
  background-color: white;
  border-radius: 1em;
  border: 1px solid grey;
  cursor: pointer;
}
header.priceStyle div.content div.wrapper div.block input[type=range]::-moz-range-thumb {
  width: 1em;
  height: 1em;
  margin-top: 0.5em;
  background-color: white;
  border-radius: 1em;
  border: 1px solid grey;
  cursor: pointer;
}
header.priceStyle div.content div.wrapper div.block input[type=range]::-ms-thumb {
  width: 1em;
  height: 1em;
  margin-top: 0.5em;
  background-color: white;
  border-radius: 1em;
  border: 1px solid grey;
  cursor: pointer;
}
header.priceStyle div.content div.wrapper div.block input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid grey;
  background-color: transparent;
}
header.priceStyle div.content div.wrapper div.block input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid grey;
  background-color: transparent;
}
header.priceStyle div.content div.wrapper div.block input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}
header.priceStyle div.content div.wrapper div.block div.rangeLabels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 371px;
  color: grey;
  font-size: 18px;
  padding-top: 15px;
}
