div.info {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
div.info div.smallTitle {
  display: none;
  font-size: 40px;
  margin-top: 30px;
  color: grey;
}
div.info div.infoText {
  width: 60%;
  color: grey;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 250px;
  flex: 1 1 250px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 1px;
}
div.info div.infoText div.addBlock {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 57%;
}
div.info div.infoText div.addBlock p.titleInfo {
  font-size: 60px;
  margin-bottom: 40px;
}
div.info div.infoText div.addBlock p.text {
  font-size: 25px;
  line-height: 35px;
  text-align: justify;
  margin-bottom: 100px;
}
div.info div.infoText div.addBlock a {
  text-transform: uppercase;
  text-decoration: none;
  color: grey;
  border: 1px solid grey;
  padding: 25px;
  border-radius: 40px;
  width: 90%;
  font-size: 25px;
  text-align: center;
}
div.info div.imageBlock {
  width: 45%;
}
div.info div.imageBlock img.infoImage {
  width: 100%;
}
@media screen and (max-width: 1650px) {
  div.info div.infoText div.addBlock p.titleInfo {
    font-size: 53px;
  }
  div.info div.imageBlock {
    width: 43%;
  }
}
@media screen and (max-width: 1000px) {
  div.info div.infoText div.addBlock p.titleInfo {
    font-size: 45px;
  }
}
@media screen and (max-width: 900px) {
  div.info div.infoText div.addBlock p.titleInfo {
    font-size: 45px;
  }
  div.info div.infoText div.addBlock p.text {
    font-size: 20px;
    margin-bottom: 70px;
  }
  div.info div.imageBlock {
    width: 50%;
  }
  div.info div.infoText div.addBlock {
    width: 70%;
  }
}
@media screen and (max-width: 750px) {
  div.info div.smallTitle {
    display: flex;
    order: 1;
    font-size: 45px;
  }
  div.info div.infoText {
    order: 3;
  }
  div.info div.imageBlock {
    width: 100%;
    order: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: -55px;
  }
  div.info div.imageBlock img.infoImage {
    width: 70%;
  }
  div.info div.infoText div.addBlock p.titleInfo {
    display: none;
  }
  div.info div.infoText div.addBlock p.text {
    font-size: 25px;
    margin-bottom: 70px;
  }
  div.info div.infoText div.addBlock {
    width: 70%;
    margin-bottom: 20px;
    margin-top: -110px;
  }
}
@media screen and (max-width: 500px) {
  div.info div.smallTitle {
    display: flex;
    order: 1;
    font-size: 40px;
  }
  div.info div.infoText {
    order: 3;
  }
  div.info div.imageBlock {
    width: 100%;
    order: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  div.info div.imageBlock img.infoImage {
    width: 90%;
    height: 60%;
  }
  div.info div.infoText div.addBlock {
    width: 85%;
    margin-top: -70px;
  }
  div.info div.infoText div.addBlock p.titleInfo {
    display: none;
  }
  div.info div.infoText div.addBlock p.text {
    text-align: center;
    margin-top: -15px;
    font-size: 21px;
    margin-bottom: 60px;
  }
  div.info div.infoText div.addBlock a {
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 40px;
    width: 90%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 485px) {
  div.info div.infoText div.addBlock p.text {
    margin-bottom: 10px;
    font-size: 17px;
  }
  div.info div.imageBlock img.infoImage {
    width: 75%;
  }
  div.info div.smallTitle {
    font-size: 36px;
  }
  div.info div.infoText div.addBlock {
    margin-top: -40px;
  }
  div.info div.smallTitle {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 360px) {
  div.info div.smallTitle {
    font-size: 32px;
    margin-top: 15px;
  }
  div.info div.imageBlock img.infoImage {
    width: 80%;
  }
  div.info div.infoText div.addBlock p.text {
    font-size: 13px;
  }
  div.info div.infoText div.addBlock a {
    padding: 11px;
  }
}
